

 .container {
   width: 18rem;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
 }

 input {
   max-width: 10rem;
 }

 form {
   margin-left: 3rem;
 }

 #esqueceu {
  font-size: small;
  color: blue;
  text-decoration: underline;
  margin-left: 3rem;
 }