// Body
$body-bg: #f8fafc;
$input-placeholder-color: #939ba2;
$form-select-indicator-color: #939ba2;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
